{% extends 'base.html' %}

{% block content %}

    <style>

        .testing{
            background-color: yellow;
            margin: 1rem;
            height: 48px;
            width: 48px;
            display: inline-block;
            border-radius: .5rem;
        }

    </style>

    <div style = "height : 20rem; background-color:aqua;
     margin: 2rem; border-radius: 1rem; overflow: scroll">
{#    overflow :hidden 은 그냥 짤리는 거 감춤#}
{#    overflow : scroll 은 짤리는 거 스크롤바로 #}
        <h1>TEST</h1>

    <div class="testing" style ="height:48px; width :48px; ">px</div>
    <div class="testing" style ="height:3rem; width :3rem; ">rem</div>
    <div class="testing" style ="height:3em; width :3em; ">em</div>
    <div class="testing" style ="height:30%; width :30%; ">%</div>


    </div>

{% endblock %}